#schedCreate
	.modal-body
		.row
			label.col-md-3.control-label {{ 'colConnType' | translate }}
			div.col-md-3
				ol#report-db-type.nya-bs-select(ng-model='connType')
					li(nya-bs-option="mod in (modules | unique:'type')", data-value='mod.type')
						a {{mod.type}}
		.row
			label.col-md-3.control-label {{ 'colConnName' | translate }}
			div.col-md-3
				ol#report-server.nya-bs-select(ng-model='connName')
					li(nya-bs-option='serv in servers')
						a {{serv}}
		.row
			label.col-md-3.control-label {{ 'colModuleType' | translate }}
			div.col-md-3
				ol#report-module.nya-bs-select(ng-model='moduleType')
					li(nya-bs-option="mod in (modules | filterBy : ['type']: connType)", data-value='mod.name')
						a {{mod.name}}
		.row
			label.col-md-3.control-label {{ 'colRepName' | translate }}
			div.col-md-3
				ol#report-db-names.nya-bs-select(ng-model='repName')
					li(nya-bs-option="rep in (reports | filterBy : ['module']: moduleType)", data-value='rep.name')
						a {{rep.name}}
		.row
			label.col-md-3.control-label {{ 'colSchedule' | translate }}
			div.col-md-5
				input.form-control(type="text", ng-model="schedule")
		.row
			div.mess {{mess}}
		.row
			br
		.row
			div.col-md-offset-3.col-md-9
				button.btn.btn-primary(ng-click="submit();") {{ 'Create'  | translate }}
				button.btn.btn-danger(ng-click='close();') {{'close' | translate}}
