div( ng-init='LoadInfoScheduler()' )
.row
	p.lead {{ 'schedulerTitle' | translate }}
.row
	button.btn.btn-primary(ng-click='openAddItemSchedule()')
		i.glyphicon.glyphicon-plus {{ 'addRecordBtn' | translate }}
.row
	table.table.table-hover
		thead
			tr: th {{ 'colConnType'    | translate }}
				th {{ 'colConnName'    | translate }}
				th {{ 'colModuleType'  | translate }}
				th {{ 'colRepName'     | translate }}
				th {{ 'colSchedule'    | translate }}
				th {{ 'colIsEnabled'   | translate }}
				th {{ 'colChangeSched' | translate }}
		tbody
			tr( ng-repeat='col in dataSched' )
				td.col-xs-2 {{col.connType}}
				td.col-xs-2 {{col.connName}}
				td.col-xs-2 {{col.moduleType}}
				td.col-xs-2 {{col.repName}}
				td.col-xs-2 {{col.schedule}}
				td.col-xs-1 {{col.ctEnabled}}
				td
					button.btn.btn-xs( data-ng-click="isEnabled(col);", title='Enabled/Disabled')
						i.glyphicon.glyphicon-list